* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'roboto';
  text-shadow: 1px 1px 2px #000;
}
img {
  /* max-width: 100%; */
}
body {
  background-color: #080624;
}
.wrapper {
  width: 100%;
}
.navbar {
  width: 100%;
  min-height: 50px;
  background-color: #141228;
  color: #fff;
  display: table;
  box-shadow: 0.5px 2px 5px #000;
}
.navbar .image-logo img {
  float: left;
}
.navbar .image-logo img {
  float: left;
  position: absolute;
  top: 2%;
  left: 3%;
}
.topnav {
  max-width: 1170px;
  overflow: hidden;
  background-color: #141228;
  margin: auto;
}
.fa-reorder:before {
  content: "\f0c9";
  color: #19163d;
  text-shadow: none;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  /* margin-right: 25px; */
}
.topnav a.active {
  color: #fff;
}
.topnav .icon {
  display: none;
  float: right;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  float: left;
  color: transparent;
  background-color: transparent;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#watch-video {
  margin-left: 30%;
}
.nav-button {
  padding: 7px;
  color: #32ADA8;
  background-color: transparent;
  font-weight: bold;
  border: 1px solid #32ADA8;
  border-radius: 7%;
}
.nav-button:hover {
  background-color: #32ADA8;
  color: #fff;
}
.mySlides {
  width: 100%;
  height: 100%;
  overflow: hidden;
  float: left;
  position: relative;
}
img {
  vertical-align: middle;
}
.slideshow-container {
  width: 100%;
  height: 800px;
  position: relative;
}
.image-slide {
  width: 100%;
  height: 100%;
  position: absolute;
}
.image-slide img {
  height: 100%;
  position: absolute;
}
#dot-positioning {
  padding-top: 0 !important;
  text-align: center;
  width: 120px;
  position: absolute;
  top: 75%;
  left: -2.5%;
  transform: rotate(90deg);
}
.text {
  color: #fff;
  line-height: 1.5;
  text-align: center;
  position: absolute;
  width: 70%;
  transform: translate(20%, 50%);
}
.text p {
  width: 100%;
  font-size: 200%;
  text-align: center;
  text-shadow: 2px 4px 4px #998e8e;
}
.text h1 {
  font-size: 360%;
  color: #fff;
  text-align: center;
}
.text h6 {
  color: #fff;
  text-align: center;
  font-size: 110%;
  padding: 8px 12px;
}
.text .button-content {
  color: #fff;
  background-color: turquoise;
  font-size: 15px;
  padding: 10px;
  width: 120px;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float: inherit;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dots {
  cursor: pointer;
  height: 30px;
  width: 35px;
  margin: 0 1px;
  color: #fff;
  display: inline-block;
  font-size: 35px;
  font-weight: bold;
  display: initial;
}
.dot {
  cursor: pointer;
  height: 30px;
  width: 35px;
  margin: 0 1px;
  color: #fff;
  display: inline-block;
  font-size: 35px;
  font-weight: bold;
  display: initial;
}
span.dot.active {
  color: #999;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.class2 {
  width: 100%;
  min-height: 430px;
  background-color: #040224;
}
.class2-images {
  width: 100%;
  padding: 10%;
}
.pc-images {
  background-repeat: no-repeat;
  background-size: cover;
  width: 47%;
  min-height: 255px;
  position: relative;
}
.class2-image1 {
  background: url(gaming110.jpg);
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
  width: 47%;
  min-height: 255px;
  position: relative;
}
.class2-image2 {
  background: url(gaming211.jpg);
  float: right;
  background-repeat: no-repeat;
  background-size: cover;
  width: 47%;
  min-height: 255px;
  position: relative;
}
.pc-text {
  color: #fff;
  position: absolute;
  left: 45%;
  top: 75%;
  font-size: 150%;
  font-weight: bold;
}
.pc {
  color: #fff;
  position: absolute;
  left: 45%;
  top: 75%;
  font-size: 150%;
  font-weight: bold;
}
.console {
  color: #fff;
  position: absolute;
  left: 45%;
  top: 75%;
  font-size: 150%;
  font-weight: bold;
}
.slideshow-container1-body {
  background-color: #040224;
  width: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
}
.mySlides1 {
  display: none;
}
img {
  vertical-align: middle;
}
.mySlides1 img {
  border-radius: 10px 10px 0 0;
}
.slideshow-container1 {
  max-width: 920px;
  position: relative;
  margin: auto;
}
.text-bottom {
  min-width: 100px;
  min-height: 285px;
  border-radius: 0 0 10px 10px;
  background-color: #211f35;
  color: #fff;
  opacity: 0.8;
  padding: 15px;
}
.text-bttom-list1 {
  float: left;
  width: 50%;
  display: grid;
  padding: 15px;
}
.text-bttom-list2 {
  float: left;
  width: 50%;
  display: grid;
  padding: 15px;
}
.text-bottom #icons {
  color: #32ADA8;
  display: flex;
  padding-left: 10px;
}
.text-bottom .fa {
  color: #32ADA8;
}
.text-bottom h2 {
  padding-left: 10px;
}
#lorem {
  padding: 15px;
}
#social {
  padding-left: 85%;
}
.inst {
  width: 100%;
}
.dot1 {
  cursor: pointer;
  height: 30px;
  width: 35px;
  margin: 0 1px;
  color: #fff;
  display: inline-block;
  font-size: 35px;
  font-weight: bold;
  display: initial;
}
.text-bttom-list1 p i {
  padding-right: 5px;
}
.text-bttom-list2 p i {
  padding-right: 5px;
}
.fade1 {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.prev-next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  background-color: #ddd;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 10px;
  padding-left: 18px;
  margin-top: -22px;
  color: #000;
  font-size: 21px;
  transition: 0.6s ease;
  user-select: none;
  opacity: 0.8;
}
.prev {
  cursor: pointer;
  position: absolute;
  top: 40%;
  background-color: #ddd;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 10px;
  padding-left: 18px;
  margin-top: -22px;
  color: #000;
  font-size: 21px;
  transition: 0.6s ease;
  user-select: none;
  opacity: 0.8;
  margin-left: 10px;
}
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  background-color: #ddd;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 10px;
  padding-left: 18px;
  margin-top: -22px;
  color: #000;
  font-size: 21px;
  transition: 0.6s ease;
  user-select: none;
  opacity: 0.8;
  padding-left: 22px;
  margin-right: 10px;
}
.next {
  right: 0;
}
.prev {
  left: 0;
}
.prev:hover,
.next:hover {
  background-color: #ddd;
  border-radius: 50%;
}
.news {
  width: 100%;
  min-height: 500px;
  background-color: #080624;
  padding: 5%;
}
.news-container {
  width: 100%;
  min-height: 510px;
  background-color: #1F1D32;
  border-radius: 10px;
}
.news-text {
  width: 40%;
  float: left;
  color: #fff;
  padding-left: 10px;
  padding-top: 10px;
}
.news-img {
  width: 60%;
  float: left;
  min-height: 400px;
  background: url(game3.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center right;
  border-radius: inherit;
  margin-top: 20px;
}
#news-word {
  width: 20%;
  color: #32ADA8;
  display: inline;
  padding-left: 10px;
}
#news-date {
  width: 15%;
  float: right;
  display: inline;
  color: #32ADA8;
}
#game {
  padding-left: 10px;
  padding-top: 10px;
}
.button {
  width: 100%;
}
.news .button-content {
  color: #fff;
  background-color: #32ADA8;
  font-size: 15px;
  padding: 10px;
  width: 120px;
  text-align: center;
  border: none;
  border-radius: 5px;
  margin: 2%;
  cursor: pointer;
}
.fa_custom {
  color: #32ADA8;
  padding-left: 3px;
}
.news-rating {
  display: inline-block;
  padding-left: 20%;
}
.about-game-head {
  text-align: center;
  color: #fff;
  background-color: #080624;
}
.about-game-section-less-img {
  width: 50%;
  float: left;
  min-height: 185px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  border-radius: inherit;
}
.about-game-section-less-text {
  width: 50%;
  float: left;
  color: #fff;
  padding-left: 20px;
  padding-top: 0 !important;
  font-size: 80%;
  text-align: justify;
}
.about-game-section-1 {
  min-height: 330px;
  background-color: #080624;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
}
.about-game-section-1-text {
  width: 50%;
  float: left;
  color: #fff;
  padding-left: 20px;
  padding-top: 0 !important;
  font-size: 80%;
  text-align: justify;
  padding-right: 20px;
  padding-left: 0;
}
.about-game-section-1-img {
  background: url(game1.jpg);
  width: 50%;
  float: left;
  min-height: 185px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  border-radius: inherit;
}
.about-game-section-2 {
  width: 100%;
  min-height: 330px;
  background-color: #080624;
  padding-left: 5%;
  padding-right: 5%;
}
.about-game-section-2-img {
  background: url(game2.jpg);
  width: 50%;
  float: left;
  min-height: 185px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  border-radius: inherit;
}
.about-game-section-2-text {
  width: 50%;
  float: left;
  color: #fff;
  padding-left: 20px;
  padding-top: 0 !important;
  font-size: 80%;
  text-align: justify;
}
.sponsors {
  width: 100%;
  background-color: #080624;
}
.sponsors-head {
  width: 100%;
  text-align: center;
  color: #fff;
  background-color: #080624;
  padding-bottom: 3%;
}
.sponsors-list {
  padding-left: 20%;
  width: 100%;
  padding-right: 20%;
}
.sponsors-list li {
  display: inline;
  padding-left: 2.3%;
  padding-right: 2.3%;
}
.reviews {
  width: 100%;
  margin: auto;
}
.reviews-head {
  width: 100%;
  text-align: center;
  color: #fff;
  background-color: #080624;
  padding-bottom: 10%;
  padding-top: 10%;
}
.slideshow-container2-body {
  background-color: #040224;
  width: 100%;
  min-height: 430px;
}
.mySlides2 {
  /* width: 150px; */
  height: 50px;
  opacity: 1;
  width: 440px;
  height: 320px;
  background-color: #211f35;
  float: left;
  display: inline-block;
  /* min-height: 285px; */
  border-radius: 10px;
  color: #fff;
  opacity: 0.8;
  padding: 15px;
  text-align: center;
  margin: 5px;
  margin-top: 45px;
  margin-bottom: 12px;
}
img {
  vertical-align: middle;
}
.slideshow-container2 {
  background-color: #040224;
  /* margin-bottom: 40px; */
  width: 920px;
  height: 386px;
  overflow: hidden;
  padding: 10px;
  margin: auto;
  padding-bottom: 0;
}
.slideshow-container2 h4 {
  color: skyblue;
  padding: 5px;
  font-size: small;
  text-align: center;
}
.slideshow-container2 #quotes {
  font-style: italic;
  font-size: medium;
  width: 90%;
  margin: auto;
  text-align: justify;
}
.slideshow-container2 img {
  width: 100px;
  height: 100px;
}
.slideshow-container2 .fa-quote-left {
  padding: 7% 47% 2% 47%;
  font-size: 150%;
  padding-top: 0;
}
.slideshow-container2 #icons {
  display: flex;
  padding-left: 10px;
}
.slideshow-container2 .fa {
  color: skyblue;
}
.slideshow-container2 h2 {
  margin: 0;
}
.showrooms #img1,
.showrooms #img2,
.showrooms #img3,
.showrooms #img4,
.showrooms #img5,
.showrooms #img6 {
  border-radius: 50%;
  padding: 3px;
  display: block;
  position: relative;
  left: 37% ;
  top: -22%;
}
.arrowleft,
.arrowright {
  color: skyblue;
  font-size: 30px;
  cursor: pointer;
  display: inline-block;
  padding: 20px;
}
.arrowleft {
  position: relative;
  top: -225px;
  left: 10%;
}
.arrowright {
  position: relative;
  top: -225px;
  left: 80.5%;
}
#quotes {
  font-style: italic;
  font-size: medium;
  width: 90%;
  margin: auto;
  text-align: justify;
}
.fa-quote-left {
  padding: 7% 45% 2% 45%;
  font-size: 150%;
  padding-top: 0;
}
.text-bttom-lists {
  float: left;
  width: 50%;
  display: grid;
  padding: 15px;
}
.text-bttom1-list1 {
  float: left;
  width: 50%;
  display: grid;
  padding: 15px;
}
.text-bttom1-list2 {
  float: left;
  width: 50%;
  display: grid;
  padding: 15px;
}
.text-bttom2-lists {
  float: left;
  width: 50%;
  display: grid;
  padding: 15px;
}
.text-bttom2-list1 {
  float: left;
  width: 50%;
  display: grid;
  padding: 15px;
}
.text-bttom2-list2 {
  float: left;
  width: 50%;
  display: grid;
  padding: 15px;
}
.text-bottom2 #icons {
  color: #32ADA8;
  display: flex;
  padding-left: 10px;
}
.text-bottom2 .fa {
  color: #32ADA8;
}
.text-bottom2 h2 {
  padding-top: 50px;
  padding-left: 10px;
}
#lorem {
  padding: 15px;
}
#social {
  padding-left: 85%;
}
.dot2 {
  cursor: pointer;
  height: 30px;
  width: 35px;
  margin: 0 1px;
  color: #fff;
  display: inline-block;
  font-size: 35px;
  font-weight: bold;
  display: initial;
}
.fade2 {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.slideshow-container2-body .prev {
  cursor: pointer;
  position: absolute;
  top: 40%;
  background-color: #ddd;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 10px;
  padding-left: 18px;
  margin-top: -22px;
  color: #000;
  font-size: 21px;
  transition: 0.6s ease;
  user-select: none;
  opacity: 0.8;
  color: #32ADA8;
  border-radius: 0;
  background-color: transparent;
}
.slideshow-container2-body .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  background-color: #ddd;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 10px;
  padding-left: 18px;
  margin-top: -22px;
  color: #000;
  font-size: 21px;
  transition: 0.6s ease;
  user-select: none;
  opacity: 0.8;
  color: #32ADA8;
  border-radius: 0;
  background-color: transparent;
}
.slideshow-container2-body .next {
  right: -5%;
  border-radius: 3px 0 0 3px;
}
.slideshow-container2-body .prev {
  left: -5%;
}
.price-list {
  width: 100%;
  min-height: 540px;
  background-color: #080624;
  text-align: center;
  color: #fff;
  padding-left: 5%;
  padding-right: 5%;
}
.standard-business-premium-less {
  width: 31.33%;
  float: left;
  min-height: 250px;
  border-radius: 5px;
  background-color: #292945;
  margin: 1%;
}
.standard {
  width: 31.33%;
  float: left;
  min-height: 250px;
  border-radius: 5px;
  background-color: #292945;
  margin: 1%;
}
.business {
  width: 31.33%;
  float: left;
  min-height: 250px;
  border-radius: 5px;
  background-color: #292945;
  margin: 1%;
}
.premium {
  width: 31.33%;
  float: left;
  min-height: 250px;
  border-radius: 5px;
  background-color: #292945;
  margin: 1%;
}
.type {
  min-height: 65px;
  background-color: #292945;
  padding-top: 12px;
  border-radius: 10px 10px 0 0;
}
.standard .price {
  min-height: 65px;
  background-color: #3DD0D8;
  font-weight: bold;
  font-size: larger;
}
.business .price {
  min-height: 65px;
  background-color: #5C9DDD;
  font-weight: bold;
  font-size: larger;
}
.premium .price {
  min-height: 65px;
  background-color: #7C69E3;
  font-weight: bold;
  font-size: larger;
}
.properties {
  min-height: 220px;
  background-color: #292945;
}
.price-list .button {
  background-color: #292945;
  border-radius: 0 0 10px 10px;
}
.button-price {
  color: #fff;
  background-color: #32ADA8;
  font-size: 15px;
  padding: 10px;
  width: 120px;
  text-align: center;
  border: none;
  border-radius: 5px;
  margin: 5%;
  cursor: pointer;
  margin-top: 0;
  float: none;
}
.properties p {
  min-height: 65px;
  padding: 2%;
  border-bottom: 2px solid #ddd;
  margin: 7%;
}
.properties p:nth-child(3) {
  border: none;
}
.our-team {
  width: 100%;
}
.our-team-header {
  color: #fff;
  text-align: center;
  background-color: #080624;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 15px;
}
.our-team-header h1 {
  width: 200px;
  margin: auto;
}
.our-team-list {
  width: 100%;
  min-height: 300px;
  background-color: #080624;
  text-align: center;
  color: #fff;
  padding-left: 5%;
  padding-right: 5%;
}
.our-team-list-1 {
  width: 23%;
  float: left;
  height: 360px;
  border-radius: 5px;
  background-color: #292945;
  margin: 1%;
}
.our-team-imgs {
  width: 100%;
  min-height: 186px;
  background-repeat: no-repeat;
  border-radius: 10px 10px 0 0;
  vertical-align: middle;
}
.our-team-img-1 {
  width: 100%;
  min-height: 186px;
  background-repeat: no-repeat;
  border-radius: 10px 10px 0 0;
  vertical-align: middle;
  background: url("images.jpg");
  background-size: cover;
  background-position: center;
}
.our-team-img-2 {
  width: 100%;
  min-height: 186px;
  background-repeat: no-repeat;
  border-radius: 10px 10px 0 0;
  vertical-align: middle;
  background: url("images (1).jpg");
  background-size: cover;
  background-position: center;
}
.our-team-img-3 {
  width: 100%;
  min-height: 186px;
  background-repeat: no-repeat;
  border-radius: 10px 10px 0 0;
  vertical-align: middle;
  background: url("team1.jpg");
  background-size: cover;
  background-position: center;
}
.our-team-img-4 {
  width: 100%;
  min-height: 186px;
  background-repeat: no-repeat;
  border-radius: 10px 10px 0 0;
  vertical-align: middle;
  background: url("face2.jpg");
  background-size: cover;
  background-position: center;
}
.team-logo {
  width: 150px;
  padding: 27px;
  text-align: center;
  padding-top: 0;
  width: 138px;
  margin: auto;
}
.team-logo .fa {
  padding-right: 10px;
}
.name,
.role {
  padding: 7%;
  font-weight: bold;
}
.our-team-details p {
  color: #32ADA8;
}
.our-contacts {
  background-color: #080624;
  clear: both;
}
.our-contacts-header {
  color: #fff;
  text-align: center;
  background-color: #080624;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.our-contacts-section {
  width: 100%;
  min-height: 300px;
  display: flex;
  background-color: #080624;
  color: #fff;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 10%;
}
.our-contacts-section-left {
  width: 50%;
  float: left;
  background-color: #080624;
  color: #fff;
}
.our-contacts-section-left .fa {
  padding: 5px;
  font-size: 125%;
  margin-right: 20px;
}
.fa-envelope {
  padding: 5px;
  font-size: 15px;
  float: left;
}
.contact-logo .fa {
  padding-right: 10px;
}
#small {
  font-size: 12px;
}
#bold {
  font-size: 14px;
  font-weight: bold;
}
.our-contacts-section-right {
  padding-right: 5px;
  width: 50%;
  float: left;
}
.phone {
  padding: 2% 2% 3% 0;
}
.location {
  padding: 2% 2% 3% 0;
}
.email {
  padding: 2% 2% 3% 0;
}
.fname-email-message-id {
  width: 48.5%;
  height: 35px;
  float: left;
  border-radius: 10px;
  border: none;
  color: #fff;
  background-color: #292945;
  margin-right: 7px;
  padding: 10px;
  outline: none;
}
.our-contacts-section #fname {
  width: 48.5%;
  height: 35px;
  float: left;
  border-radius: 10px;
  border: none;
  color: #fff;
  margin-right: 7px;
  padding: 10px;
  outline: none;
  background-color: #292945;
}
.our-contacts-section #email {
  height: 35px;
  float: left;
  border-radius: 10px;
  border: none;
  color: #fff;
  margin-right: 7px;
  padding: 10px;
  outline: none;
  background-color: #292945;
  width: 48.5%;
  margin-left: 10px;
  margin-right: 0;
}
.our-contacts-section #message {
  width: 48.5%;
  height: 35px;
  float: left;
  border-radius: 10px;
  border: none;
  color: #fff;
  background-color: #292945;
  margin-right: 7px;
  padding: 10px;
  outline: none;
  min-width: 100%;
  min-height: 170px;
  resize: none;
  margin-top: 10px;
}
.our-contacts-section #submitted {
  width: 75px;
  height: 40px;
  background-color: #32ADA8;
  border: none;
  border-radius: 10px;
  color: #fff;
  float: none;
  margin: 5% 40% 0 40%;
  outline: none;
  cursor: pointer;
  font-weight: bold;
}
.our-contacts-section-left h1 {
  padding-bottom: 3%;
}
#maps {
  width: 100%;
  background-color: #080624;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
}
#submitted:hover,
.button-price:hover,
.button-content:hover {
  background-color: transparent;
  color: #32ADA8;
  border: 1px solid #32ADA8;
  border-radius: 5px;
}
.footer {
  background-color: #080624;
  margin-top: 1%;
  margin-bottom: 1%;
}
.footer-content {
  color: #fff;
  text-align: center;
}
.footer-content a {
  color: #fff;
  text-decoration: none;
}
@media (max-width: 640px) {
  .image-logo {
    width: 140px;
  }
  .image-logo h3 {
    float: right;
  }
  .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    float: left;
    color: #fff;
    padding: 5px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .navbar .image-logo img {
    padding-left: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  #watch-video {
    margin-left: 2%;
  }
  .active h3 {
    color: #fff;
    margin: 0;
    text-align: left;
  }
  .image-logo {
    margin-right: 0;
  }
  .text-logo {
    text-align: left;
  }
  .topnav a:nth-child(2) {
    padding-left: 6px;
  }
  .slideshow-container {
    width: 100%;
    height: 600px;
    position: relative;
  }
  .text h6 {
    display: none;
  }
  #dot-positioning {
    padding-top: 0 !important;
    text-align: center;
    width: 120px;
    position: absolute;
    top: 116%;
    left: -2.5%;
    transform: rotate(90deg);
  }
  .text-bottom {
    min-height: 500px;
  }
  #social {
    padding-left: 72%;
  }
  .class2 {
    width: 100%;
    min-height: 560px;
    background-color: #040224;
  }
  .class2-images {
    width: 100%;
    padding: 10%;
  }
  .class2-image1 {
    width: 100%;
    float: left;
  }
  .class2-image2 {
    margin-top: 10px;
    width: 100%;
    float: left;
  }
  .slideshow-container1 .next,
  .slideshow-container1 .prev {
    top: 25%;
  }
  .news-container {
    min-height: 980px;
  }
  .news-text {
    width: 100%;
    float: left;
    color: #fff;
    /* padding-left: 10px; */
  }
  #news-date {
    width: 75px;
    float: right;
  }
  .news-img {
    width: 100%;
  }
  .news .button-content {
    margin: 0;
  }
  .fa_custom {
    color: #32ADA8;
    padding-left: 3px;
  }
  .about-game-section-2 {
    min-height: 600px;
  }
  .about-game-section-1-text,
  .about-game-section-2-text,
  .about-game-section-1-img,
  .about-game-section-2-img {
    width: 100%;
    float: left;
    padding: 0;
  }
  .sponsors-list {
    padding-left: 15%;
    width: 100%;
    padding-right: 15%;
  }
  .button-price {
    font-size: 15px;
    padding: 3px;
    width: 98px;
  }
  .slideshow-container2-body {
    background-color: #040224;
    width: 100%;
    min-height: 760px;
  }
  img {
    vertical-align: middle;
  }
  .slideshow-container2 {
    background-color: #040224;
    /* margin-bottom: 40px; */
    width: 447px;
    height: 760px;
    overflow: hidden;
    padding: 10px;
    margin: auto;
    padding-bottom: 0;
  }
  .mySlides2 {
    /* width: 150px; */
    height: 50px;
    opacity: 1;
    width: 440px;
    height: 320px;
    background-color: #211f35;
    float: left;
    display: inline-block;
    /* min-height: 285px; */
    border-radius: 10px;
    color: #fff;
    opacity: 0.8;
    padding: 15px;
    text-align: center;
    margin: 5px;
    margin-top: 45px;
    margin-bottom: 12px;
  }
  .arrowleft {
    position: relative;
    top: -600px;
    left: 0%;
  }
  .arrowright {
    position: relative;
    top: -225px;
    left: 75.5%;
  }
  .standard {
    width: 100%;
    float: left;
  }
  .business {
    width: 100%;
    float: left;
  }
  .premium {
    width: 100%;
    float: left;
  }
  .our-team-list {
    width: 100%;
    background-color: #080624;
    text-align: center;
    color: #fff;
    padding-left: 10%;
    padding-right: 10%;
    clear: both;
  }
  .our-team-list-1 {
    width: 47.5%;
    float: left;
  }
  .our-contacts-section {
    display: block;
  }
  .our-contacts-section-left {
    width: 100%;
  }
  .our-contacts-section-right {
    width: 100%;
  }
  .our-contacts-section #fname {
    width: 100%;
    margin-right: 0;
  }
  .our-contacts-section #email {
    width: 100%;
    margin-left: 0;
  }
  .our-contacts-section #submitted {
    margin: 5% 40% 5% 40%;
  }
  #maps {
    width: 100%;
    padding: 12%;
  }
  iframe {
    width: 1200px;
    height: 440px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
  }
}
@media (max-width: 640px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    float: right;
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .text-logo {
    position: relative;
    top: 10%;
    text-align: left;
  }
}
@media (max-width: 768px) {
  .image-logo {
    width: 124px;
  }
  .image-logo h3 {
    float: right;
  }
  .text-bottom {
    min-height: 500px;
  }
  .news-container {
    min-height: 980px;
  }
  .about-game-section-2 {
    min-height: 600px;
  }
}
@media (max-width: 980px) {
  .image-logo {
    width: 140px;
  }
  .image-logo h3 {
    float: right;
  }
  #watch-video {
    margin-left: 2%;
  }
  .topnav a {
    margin-left: 10px;
  }
  .topnav a:nth-child(1) {
    padding: 14px 16px;
  }
  #dot-positioning {
    padding-top: 0 !important;
    text-align: center;
    width: 120px;
    position: absolute;
    top: 75%;
    left: -2.5%;
    transform: rotate(90deg);
  }
  .text-bottom {
    min-height: 500px;
  }
  #social {
    padding-left: 72%;
  }
  .news-container {
    min-height: 980px;
  }
  .news-text {
    width: 100%;
    float: left;
    color: #fff;
    /* padding-left: 10px; */
  }
  #news-date {
    width: 75px;
    float: right;
  }
  .news-img {
    width: 100%;
  }
  .fa_custom {
    color: #32ADA8;
    padding-left: 3px;
  }
  .slideshow-container1 .next,
  .slideshow-container1 .prev {
    top: 25%;
  }
  .about-game-section-2 {
    min-height: 600px;
  }
  .sponsors-list {
    padding-left: 7.5%;
    width: 100%;
    padding-right: 7.5%;
  }
  .our-team-list {
    width: 100%;
    /* min-height: 300px; */
    /* display: flex; */
    background-color: #080624;
    text-align: center;
    color: #fff;
    padding-left: 10%;
    padding-right: 10%;
    clear: both;
  }
  .fa-quote-left {
    padding: 7% 44% 0 50%;
    font-size: 150%;
  }
  .price-list {
    padding-left: 10%;
    padding-right: 10%;
    clear: both;
  }
  .slideshow-container2-body {
    background-color: #040224;
    width: 100%;
    min-height: 760px;
  }
  img {
    vertical-align: middle;
  }
  .slideshow-container2 {
    background-color: #040224;
    /* margin-bottom: 40px; */
    width: 447px;
    height: 760px;
    overflow: hidden;
    padding: 10px;
    margin: auto;
    padding-bottom: 0;
  }
  .mySlides2 {
    /* width: 150px; */
    height: 50px;
    opacity: 1;
    width: 440px;
    height: 320px;
    background-color: #211f35;
    float: left;
    display: inline-block;
    /* min-height: 285px; */
    border-radius: 10px;
    color: #fff;
    opacity: 0.8;
    padding: 15px;
    text-align: center;
    margin: 5px;
    margin-top: 45px;
    margin-bottom: 12px;
  }
  .arrowleft {
    position: relative;
    top: -600px;
    left: 10%;
  }
  .arrowright {
    position: relative;
    top: -225px;
    left: 72.5%;
  }
  .our-team-list-1 {
    width: 47.5%;
    float: left;
  }
  .our-contacts-section {
    display: block;
    padding-left: 10%;
    padding-right: 10%;
  }
  .our-contacts-section-left {
    width: 100%;
    margin-bottom: 3%;
  }
  .our-contacts-section-right {
    width: 100%;
  }
  .our-contacts-section #fname {
    width: 100%;
    margin-right: 0;
  }
  .our-contacts-section #email {
    width: 100%;
    /* margin-top: 10px; */
    margin-left: 5%;
  }
  .our-contacts-section #submitted {
    margin: 5% 40% 5% 40%;
  }
  #maps {
    width: 100%;
    padding: 12%;
  }
  iframe {
    width: 980px;
    height: 440px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
  }
}
@media (max-width: 1280px) {
  .topnav a {
    padding-left: 10px;
    margin-left: 15px;
  }
  .topnav a {
    margin-left: 10px;
  }
  .slideshow-container1 .next,
  .slideshow-container1 .prev {
    top: 35%;
  }
  .news-container {
    min-height: 580px;
  }
  .arrowleft {
    position: relative;
    top: -580px;
    left: 1%;
  }
  .arrowright {
    position: relative;
    top: -225px;
    left: 79%;
  }
  .team-logo {
    width: 150px;
    padding: 27px;
    margin: auto;
    text-align: center;
    padding-top: 0;
  }
  .our-contacts-section #fname {
    width: 47.5%;
  }
  .our-contacts-section #email {
    width: 47.5%;
  }
  .our-contacts-section #submitted {
    margin: 5% 40% 5% 40%;
  }
}
